<div class="background">
  
  <ul class="header-menu">
    <li><a href="#">リスト1</a></li>
    <li><a href="#">リスト2</a></li>
    <li><a href="#">リスト3</a></li>
    <li><a href="#">リスト4</a></li>
  </ul>
  
  
  <div class="main">

    <div class="main-left">
        <a href="/rooms/new">投稿する</a>
    </div>

  <div class="main-center">
    <ul class="center-list1">
      <% @rooms.each do |room| %>
        <li class="center-list2">
          <div class="big-img">
            <%= link_to room_path(room.id) do %>
              <%= image_tag room.image, class: "room-img1" %>
            <% end %>      
            <div class="list-box1">
              <p class="list-name1">都道府県</p>
              <p class="list-name2"><%= room.room_name %></p>
            </div>

            <div class="list-box1">
              <p class="list-name1">市町村区</p>
              <p class="list-name2"><%= room.comment %></p>
            </div>  

            <div class="list-box1">
              <p class="list-name1">アパート名</p>
              <p class="list-name2"><%= room.comment %></p>
            </div>  
            
            <div class="list-box1">
              <p class="list-name1">連絡先</p>
              <p class="list-name2"><%= room.comment %></p>
            </div>  
            <div class="list-box1">
              <p class="list-name1">お値段</p>
              <p class="list-name2"><%= room.comment %></p>
            </div>  

          </div>
          
          <div class="mini-img">
            <% room.images.each do |image| %>
              <%= image_tag image, class: "room-img2"%>
            <% end %>
            <div class="show-btn">
             <%= link_to "詳細", room_path(room.id), class: "btn" %>
            </div>
          </div>              
        </li>
      <% end %> 
    </ul>  
  </div>

    <div class="main-right">
    </div>
  </div>

</div>