<div class="background">

  
  <ul class="header-menu">
    <li><a href="#">リスト1</a></li>
    <li><a href="#">リスト2</a></li>
    <li><a href="#">リスト3</a></li>
    <li><a href="#">リスト4</a></li>
  </ul>
  
  
  <div class="main">

    <div class="main-left">
        <a href="/rooms/new">投稿する</a>
    </div>

    <div class="main-center">
      <ul class="main-list">
        <li class="main-list1">
          <% @rooms.each do |room| %>
            <%= link_to room_path(room.id) do %>
              <%= image_tag room.image, class: "room-img1" %>
                <p class="list-name"><%= room.room_name %></p>
                <p class="list-name"><%= room.comment %></p>
                <% room.images.each do |image| %>
                 <%= image_tag image, class: "room-img2"%>
                <% end %>
            <% end %>
          <% end %> 
        </li>
      </ul>    
    </div>

    <div class="main-right">
    </div>
  </div>

</div>